{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <!-- Carrousel d'images -->
        <div id="carouselExampleIndicators" class="carousel slide mb-5 text-center" data-bs-ride="carousel">
            <div class="carousel-inner align-items-center">
                <div class="carousel-item active">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="d-inline-block rounded" style="width: 400px; height: auto;" alt="Image 1">
                </div>
                <div class="carousel-item">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="d-inline-block rounded" style="width: 400px; height: auto;" alt="Image 2">
                </div>
                <div class="carousel-item">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="d-inline-block rounded" style="width: 400px; height: auto;" alt="Image 3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- Titre des catégories -->
        <h2 class="text-center mb-5">Nos catégories</h2>

        <!-- Grille des catégories -->
        <div class="row justify-content-center">
            {% for categorie in categories %}
                <div class="col-md-3 mb-4">
                    <a href="{{ path("app_categorie", { categorie: categorie.id}) }}" class="d-block text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" alt="{{ categorie.nom }}" class="img-fluid mb-2" style="max-width: 200px;">
                        <h5 class="mb-0" style="font-size: 14px;">{{ categorie.nom }}</h5>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
